@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Import Tailwind */
@import "tailwindcss";

/* Custom global styles */
@theme {
  --font-sans: "Open Sans", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

/* Example usage */
body {
  font-family: var(--font-sans);
}

:root {
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
